<div class="d-flex flex-column align-items-center">
  <h2 class="">Templates</h2>

  <ul class="secondary-nav">
    <li><a class="btn btn-success" routerLink="interpolation">Interpolation</a></li>
    <li><a class="btn btn-success" routerLink="templates-statements">Templates Statements</a></li>
    <li><a class="btn btn-success" routerLink="pipes">Pipes</a></li>
    <li><a class="btn btn-success" routerLink="property-binding">Property Binding</a></li>
    <li><a class="btn btn-success" routerLink="bindings">Bindings</a></li>
  </ul>
</div>

<div class="m-5">
  <router-outlet></router-outlet>
</div>
