<ul class="nav bg-secondary">
  <li class="nav-item">
    <a class="nav-link active text-white bg-success" aria-current="page" href="/templates">Template</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white bg-danger" href="/directives">Directives</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="/services">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="/dependency-injections">Dependency Injections</a>
  </li>
</ul>
