<p [ngClass]="introMessageClasses">
  {{introMessage}}
</p>
<p class="font-weight-bold">
  NgClass—adds and removes a set of CSS classes.
</p>
<pre>
  <span [ngClass]="isSpecial ? 'special' : ''">This div is special</span>
  <span [ngClass]="multipleClasses">Element with multiple classes</span>
</pre>
<p class="font-weight-bold">
  NgStyle—adds and removes a set of HTML styles.
</p>
<pre>
  <span [ngStyle]="multipleStyles">Element with multiple styles</span>
</pre>
<p class="font-weight-bold">
  NgModel—adds two-way data binding to an HTML form element.
</p>
<pre>

</pre>
